package ${package};
#foreach($pack in ${pojoPackage})
import $pack
#end
/**
 * @author ${author}
 * @since ${date}
 */
public interface ${className}  {
#foreach($service in ${services})

    /**
    * ${service.title}
    * @param ${service.fromLowerCase}
    */
    ${service.vo} ${service.method}(#if(${service.fromUpperCase})${service.fromUpperCase} ${service.fromLowerCase}#end);
#end
}
