server:
  port: 8089
  max-http-header-size: 1024000
#logging:
#  level:
#    org.springframework: DEBUG

spring:
  datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://127.0.0.1:3306/demo?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8&autoReconnect=true&failOverReadOnly=false&testOnBorrow=true&validationQuery=select 1
      username: root
      password: 123456
      min-idle: 20
      max-active: 2000
  profiles:
    include: redis
  thymeleaf:
    cache: false
    mode: HTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
    prefix: classpath:/templates/
#  kafka:
#    consumer:
#      enable-auto-commit: false
#      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#      properties:
#    listener:
#      ack-mode: manual_immediate
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: 123
            client-secret: 21
            redirect-uri: https://www.baidu.com
        provider:
          github:
            token-uri:

mybatis:
  #配置日志实现
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
driverClassName: asdf
mock:
  enable: false
  url: https://mock.apifox.cn/m1/2279271-0-default
#logging:
#  config: classpath:
knife4j:
  enable: true
  # 生产环境建议关闭（禁用Swagger资源）
  production: false


log:
  binlog:
    hosts:
      - name: demo
        host: 127.0.0.1
        port: 3306
        username: root
        password: 123456
        timeOffset: 1000
        filter:
          # 全部填 *，指定某个数据库所有表填写 db_name.*
          includes: demo.*
          #  - dows.log_ddl_demo
          # 不做排除 填写空 "" ,excludes 规则优先级高于 includes
          excludes: ""
          #  - dows.log_ddl_demo

#ALTER USER 'root'@'%' IDENTIFIED WITH mysql_native_password BY '123456';
#FLUSH PRIVILEGES;





