package ${package.Repo_PACK};

import ${package.Entity_PACK}.${entity};
## import ${superRepoClassPackage};
import com.ykc.framework.mybatis.YkcMybatisRepo;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.repoName} : ${superRepoClass}<${entity}>
#else
public interface ${table.repoName} extends ${superRepoClass}<${entity}> {

}
#end
