<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://cdn.bootcss.com/jquery/1.12.2/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.js"></script>
</head>
<body>
<h3 style="color: red">java-Api生成</h3>
<form id="app">
    <h1>入参-><input id="fromPackage" autocomplete="off" type="text" name="fromPackage" placeholder="入参类包路径"/>
        <input id="fromClass" autocomplete="off" type="text" name="fromClass" placeholder="入参类名称"/></h1>
    <dev id="ru">
        <dev>
            <select name="fieldType">
                    <option value="String">String</option>
                    <option value="Integer">Integer</option>
                    <option value="Long">Long</option>
                    <option value="Date">Date</option>
                    <option value="BigDecimal">BigDecimal</option>
                </select>
            <input autocomplete="off" type="text" name="field" placeholder="字段名称"/>
            <input autocomplete="off" type="text" name="title" placeholder="字段说明"/>
            <input autocomplete="off" type="text" name="vailMessage" placeholder="校验内容">
            <button class="rujian">-</button>
        </dev>
    </dev>
    <button id="ruBu">+</button>
    <br><h1>出参-><input id="voPackage" autocomplete="off" type="text" name="voPackage" placeholder="出参类包路径"/>
                <input id="voClass" autocomplete="off" type="text" name="voClass" placeholder="出参类名称"/></h1>
    <dev id="chu">
        <dev>
            <select name="fieldType">
                <option value="String">String</option>
                <option value="Integer">Integer</option>
                <option value="Long">Long</option>
                <option value="Date">Date</option>
                <option value="BigDecimal">BigDecimal</option>
            </select>
            <input autocomplete="off" type="text" name="field" placeholder="字段名称"/>
            <input autocomplete="off" type="text" name="title" placeholder="字段说明"/>
            <button class="chujian">-</button>
        </dev>
    </dev>
    <button id="chuBu">+</button>
    <br><h1>方法信息</h1>
    <input id="method" autocomplete="off" type="text" name="method" placeholder="方法名称"/>
    <input id="title" autocomplete="off" type="text" name="title" placeholder="方法说明"/>
    <input type="checkbox"  name="isValid" value="1" />是否验证
            <select id="requestMode" name="requestMode">
                <option value="POST">POST</option>
                <option value="GET">GET</option>
            </select>
    <br><br><br><p id="webId">
        <input type="button" name="" onclick="oncli()" value="提交">
        <input type="reset" name="" value="重置">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="checkwebId" type="checkbox"  name="commitServiceMethod" value="1" />不缓存方法了直接提交

    </p>
</form>
<textarea style="position: absolute;left:650px ;top: 10px;width: 500px;height: 400px">

</textarea>
<script type="text/javascript">
    function oncli() {
        $(function(){
            var object = {}
            object["fromClass"] = $("#fromClass").val();
            object["voClass"] = $("#voClass").val();
            var arrru = []
            $("#ru").children("dev").each(function(){
                var arraych = $(this).children().serializeArray();
                var o = {}
                $.each(arraych, function(key,obj) {
                    o[obj.name] = obj.value
                });
                arrru.push(o)
            });
            object["fromList"] = arrru
            var arrchu = []
            $("#chu").children("dev").each(function(){
                var arraych = $(this).children().serializeArray();
                var o = {}
                $.each(arraych, function(key,obj) {
                    o[obj.name] = obj.value
                });
                arrchu.push(o)
            });
            object["voList"] = arrchu
            object["requestMode"] = $('#requestMode').val();
            object["title"] = $('#title').val();
            object["isValid"] = $('input[name="isValid"]:checked').val();
            object["method"] = $('#method').val();
            object["commitServiceMethod"] = $('input[name="commitServiceMethod"]:checked').val();
            object["restName"] = $('#rest').val();
            object["serviceName"] = $('#service').val();
            object["fromPackage"] = $('#fromPackage').val();
            object["voPackage"] = $('#voPackage').val();
            object["restPackage"] = $('#restPackage').val();
            object["servicePackage"] = $('#servicePackage').val();
            var stringify = JSON.stringify(object);
            $.ajax({
                type: "post",
                url:"/addInfo",
                data:stringify,
                contentType: "application/json",
                dataType: "json",
                success: function(data){
                        alert("SUCCESS")
                    // $('#restPackage').remove()
                    // $('#servicePackage').remove()
                    // $('#rest').remove()
                    // $('#service').remove()
                    // $("input[type=reset]").trigger("click");//触发reset按钮
            }});
        });
    }


    $("#ruBu").off().on("click",function (e){
        e.preventDefault();
        var b = "<dev><br>" +
            "               <select name=\"fieldType\">\n" +
            "                    <option value=\"String\">String</option>\n" +
            "                    <option value=\"Integer\">Integer</option>\n" +
            "                    <option value=\"Long\">Long</option>\n" +
            "                    <option value=\"Date\">Date</option>\n" +
            "                    <option value=\"BigDecimal\">BigDecimal</option>\n" +
            "                </select>\n" +
            "       <input autocomplete=\"off\" type=\"text\" name=\"field\" placeholder='字段名称'/>\n" +
            "       <input autocomplete=\"off\" type=\"text\" name=\"title\" placeholder='字段说明'/>\n"+
            "       <input autocomplete=\"off\" type=\"text\" name=\"vailMessage\" placeholder='校验内容'>" +
            "&nbsp<button class=\"rujian\">-</button>" +
            "</dev>"
        $("#ru").append(b);
    });

    $("#chuBu").off().on("click",function (e){
        e.preventDefault();
        var a = "<dev><br>\n" +
            "               <select name=\"fieldType\">\n" +
            "                    <option value=\"String\">String</option>\n" +
            "                    <option value=\"Integer\">Integer</option>\n" +
            "                    <option value=\"Long\">Long</option>\n" +
            "                    <option value=\"Date\">Date</option>\n" +
            "                    <option value=\"BigDecimal\">BigDecimal</option>\n" +
            "                </select>\n" +
            "           <input autocomplete=\"off\" type=\"text\" name=\"field\" placeholder='字段名称'/>\n" +
            "           <input autocomplete=\"off\" type=\"text\" name=\"title\" placeholder='字段说明'/>\n"+
            "&nbsp<button class=\"chujian\">-</button>" +
            "</dev>"
        $("#chu").append(a);

    });



    $('#checkwebId').on('click', function() {
        if (this.checked) {
            // checkbox 是选中的
            var a = "<input id=\"restPackage\" autocomplete=\"off\" type=\"text\" name=\"restPackage\" placeholder=\"rest包路径\"/>\n" +
                "<input id=\"rest\" autocomplete=\"off\" type=\"text\" name=\"restName\" placeholder=\"rest类名称\"/>\n" +
                "   <input id=\"servicePackage\" autocomplete=\"off\" type=\"text\" name=\"servicePackage\" placeholder=\"servcie包路径\"/>\n"+
                "    <input id=\"service\" autocomplete=\"off\" type=\"text\" name=\"serviceName\" placeholder=\"servcie名称\"/>"
            $("#webId").append(a);
        } else {
            $('#restPackage').remove()
            $('#servicePackage').remove()
            $('#rest').remove()
            $('#service').remove()
        }
    });



    $("body").on("click",".chujian", function(e){
        e.preventDefault();
        $(this).parent().remove();
    });
    $("body").on("click",".rujian", function(e){
        e.preventDefault();
        $(this).parent().remove();
    });


</script>
</body>
</html>
