package ${package};

import com.example.demo.Aop.Dog;
import com.example.demo.annotation.BizImplements;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;

/**
 * @author ${author}
 * @since ${date}
 */
@RestController
@BizImplements(Dog.class)
@Api(value = "公告模块2", description = "公告模块2", tags = {"公告模块2"})
public interface ${className}  {
#foreach($service in ${services})
    #if($service.isGet)
    @GetMapping("/${service.method}")
    #else
    @PostMapping("/${service.method}")
    #end
    @ApiOperation(value = "${service.title}",notes = "${service.title}")
    ${service.vo} ${service.method}(#if($service.isValid)@Valid#end @RequestBody ${service.fromUpperCase} ${service.fromLowerCase});
#end
}
