<!-- 导入mybatis dtd 文档类型声明文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 核心配置元素-->
<configuration>
    <settings>
        <!--    全局性开启和关闭任何缓存    -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 延迟加载的全局开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置为true时，允许jdbc自动生成主键 -->
        <setting name="useGeneratedKeys" value="false"/>
        <!-- 是否开启驼峰命名自动映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--环境子元素 -->
    <environments default = "mysql">
        <environment id = "mysql">
            <!-- 事务管理器-->
            <transactionManager type = "JDBC"/>
            <!-- 数据源 -->
            <dataSource type = "POOLED">
                <property name = "driver" value ="com.mysql.cj.jdbc.Driver"/>
                <property name = "url" value ="jdbc:mysql://139.224.1.155:3306/todo"/>
                <property name = "username" value ="comma-admin"/>
                <property name = "password" value ="qloofwYNZGnttbse"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 批量注册 -->
        <package name="com.example.demo.mapper"/>
    </mappers>
</configuration>
